// Define variables for your color scheme

$brightyellow: #F5C53D;
$mustard: #F2B441;
$yellowbrown: #A67B2D;
$lightgray: #F9F9F9;
$black: #161514;
$white: #FFFFFF;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

