<div class="banner"style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= cl_image_path('kkmqj1dkh6nlnlcqxvp7.jpg') %>);">
  <div class="container banner-content">
    <div class="banner-text">
      <h1>Find your new instrument</h1>
      <p>All <span id="banner-typed-text"></span> you would imagine in a single place</p>
    </div>
  </div>
</div>
