<div class="banner"style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://sound-dynamics.com/wp-content/uploads/2020/09/musical-shop.jpg);">
  <div class="container banner-content">
    <%= image_tag "banner_note.png", style: "width: 230px" %>
    <div class="banner-text">
      <h1>Find your new instrument</h1>
      <p>All instruments you would imagine in a single place</p>
    </div>
  </div>
</div>
