<div class="banner">
  <div class="container banner-content">
    <%= image_tag "https://via.placeholder.com/265" %>
    <div class="banner-text">
      <h1>Find your new instrument</h1>
      <p>All instruments you would imagine in a single place</p>
    </div>
  </div>
</div>