

<div class="card-booking our-box-shadow">
  <p><%= @offer.price %></p>
  <div class="booking-date d-flex">
    <p>start</p>
    <p>end</p>
  </div>
  <%= link_to  "Book", '#', class: 'our-button' %>
</div>