// Main Page Banner

.banner {
  background-color: $brightyellow;
  padding: 12vh 0;
  margin-bottom: 24px;
  img {
    filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.25));
    transform: rotate(13.56deg)
  }
}

.banner-content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-text {
  margin: 0 50px;
  h1 {
    font-size: 32px;
  }
  p {
    font-size: 20px;
    font-style: italic;
  }
}

// Instrument Banner

.instrument-banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.instrument-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.instrument-banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
