.btn-book {
  background-color: #F5C53D ;
  padding: 8px 85px;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 700;
  color:#161514;
  text-decoration: none;
  a:hover {
    text-decoration: none;
  }
}

.button-offer {
  background-color: #F5C53D ;
  padding: 8px 52px;
  border-radius: 4px;
  margin-right: 8px;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
    background-color: #F2B441;
  }
}

.new-offer-btn {
  background-color: $lightgray;
}
