.btn-book {
  background-color: #F5C53D ;
  padding: 8px 85px;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 700;
  color:#161514;
  text-decoration: none;
  a:hover {
    text-decoration: none;
  }
}

