.card-result {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px 18px;
  background-color: white;
  margin: 12px 0;
  width: 100%;
  border-radius: 4px;
  color: $black;
}

.card-image img {
  border-radius: 16px;
}

.card-description {
  margin: 0 16px;
  h4, p {
    margin-bottom: 0;
  }
}

.card-price {
  p {
    font-weight: bold;
  }
  span {
    font-weight: lighter;
  }
}

.card-booking {
  height: 200px;
  width: 260px;
  border-radius: 8px;
  background-color: white;
}

.our-box-shadow {
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

// Show Cards

.show-box {
  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 4px rgb(150, 150, 150);
  padding: 12px;
  margin: 12px auto;
}
