.card-result {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px 18px;
  background-color: white;
  margin: 12px 0;
  width: 100%;
  border-radius: 4px;
  color: $black;
}

.card-image img {
  border-radius: 16px;
}

.card-description {
  margin: 0 16px;
  h4, p {
    margin-bottom: 0;
  }
}

.card-price {
  p {
    font-weight: bold;
  }
  span {
    font-weight: lighter;
  }
}

.card-booking {
  height: 200px;
  width: 260px;
  border-radius: 8px;
  background-color: white;
}

.our-box-shadow {
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

// Show Cards

.show-box {
  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 4px rgb(150, 150, 150);
  padding: 12px;
  margin: 12px auto;
}

.social ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.social li {
  display: inline;
  color: $mustard;
  font-size: 32px;
  &:hover {
    color: $brightyellow;
  }
}

// Deals cards

.deals-container {
  background-color: $brightyellow;
  border-radius: 2px;
  box-shadow: 1px 1px 4px rgb(150, 150, 150);
}

.my-deal-requests {
  padding: 8px 32px;
}

 .my-offers-requests {
  padding: 8px 32px;
 }

.deal-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.deal-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.deal-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.deal-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.deal-card .deal-card-infos {
  padding: 16px;
}

.actions p {
  margin: 0;
  font-size: 16px;
}

.actions .approve {
  color: green;
  &:hover {
    text-decoration: none;
    color: #00681a;
  }
}

.actions .cancel {
  color: #ff781e;
  &:hover {
    text-decoration: none;
    color: #c44d03;
  }
}

.actions .deny {
  color: red;
  &:hover {
    text-decoration: none;
    color: #8e0400;
  }
}

.deal-card-infos p {
  font-size: 12px;
  font-weight: bold;
}
