.footer {
  background-color: $black;
  width: 100%;
  a:hover {
    text-decoration: none;
  }
}

.footer-text {
  color: $light-gray;
  margin: auto 20px;
}

.footer-links {
  img {
    margin: auto 20px;
  }
}

.footer p {
  margin: 0;
}

.footer ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.footer li {
  display: inline;
  font-size: 28px;
  color: $orange;
  &:hover {
    color: $yellow;
  }
}
