.navbar-lewagon {
  justify-content: space-between;
  background: white;
  a {
  }
}

.logo-link {
  padding: 4px;
  padding-left: 24px;
}

.navbar {
  padding: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-instruments {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 78px;
  img {
    margin-left: 24px;
  }
}

#login {
  color: white;
  width: 25%;
  height: 78px;
  display: flex;
  p {
    margin: auto;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .navbar-instruments {
    width: 800px;
  }

  .navbar-instruments img {
    width: 15rem;
  }

  .search-bar {
    height: 2.2rem;
    width: 35%;
  }

  #login {
    width: 20%;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .navbar-instruments {
    width: 500px;
  }

  .navbar-instruments img {
    width: 10rem;
  }

  .search-bar {
    display: none;
  }

  .search-bar p {
    display: none;
  }

  #login {

  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .navbar-instruments {
    width: 420px;
  }

  .navbar-instruments img {
    width: 9rem;
  }

  .search-bar {
    display: none;
  }

  .search-bar p {
    display: none;
  }

  #login {

  }
}
