.navbar-instruments {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 78px;
  img {
    margin-left: 24px;
  }
}

#login {
  color: white;
  width: 25%;
  height: 78px;
  display: flex;
  p {
    margin: auto;
  }
}
