$trompet: #F5C53D;
$sax: #F2B441;
$cajon: #A67B2D;
$off-white: #F9F9F9;
$dark: #161514;
$white: #FFFFFF;

.d-trompet {
  background-color: $trompet;
}

.d-sax {
  background-color: $sax;
}

.d-cajon {
  background-color: $cajon;
}

.d-off-white {
  background-color: $off-white;
}

.d-dark {
  background-color: $dark;
}

.d-white {
  background-color: $white;
}

