.d-brightyellow {
  background-color: #F5C53D;
}

.d-mustard {
  background-color: #F2B441;
}

.d-yellowbrown {
  background-color: #A67B2D;
}

.d-lightgray {
  background-color: #F9F9F9;
}

.d-black {
  background-color: #161514;
}

.d-white {
  background-color: #FFFFFF;
}

