.search-bar {
  background-color: #F9F9F9;
  height: 35px;
  width: 42%;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  form {
    display: flex;
    margin: 0 18px;
    width: 100%;
  }
  input {
    background-color: #F9F9F9;
    border: none;
    height: calc(1.5em + 0.75rem - 1px);
  }
  img {
    height: 26px;
    width: 26px;
    margin: auto 10px auto 0;
  }
}
